@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    transform: translateY(-16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

/* hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


/* Base hidden state */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

/* When visible on screen */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Optional variations */
.reveal-left {
  transform: translateX(-60px);
}

.reveal-right {
  transform: translateX(60px);
}

.reveal-zoom {
  transform: scale(0.9);
}
.reveal-zoom.active {
  transform: scale(1);
}
